.DS_Store
node_modules
/.svelte-kit
/build
/functions
/deno_dir

/svelte
.eslintrc.cjs
.npmrc
.prettierignore
.prettierrc
note.md
scan.ts
svelte.config.js
tsconfig.json
/docs

/_app

package.json
package-lock.json
