.hideMe {
	font-family: "Monotalic";
    animation: cssAnimation 1.5s forwards;
	position: absolute;
	background-color: #f5f5f5;
	color: #252A34;
	padding: 4px;
	border-radius: 4px;
	text-align: center;
	min-width: 192px;
	max-width: 192px;
	min-height: 32px;
	max-height: 32px;
	user-select: none;
}
@keyframes cssAnimation {
    0%   {opacity: 0; width:0px; height:0px;}
    40%  {opacity: 0.9; width:192px; height:32px;}
	60%  {opacity: 0.9; width:192px; height:32px;}
    100% {opacity: 0; width:0px; height:0px;}
}
